<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WasteTrackr.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4B575EAE9BAB616705FACF014217339195DA5302</string>
				<key>dateExpires</key>
				<string>5/10/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B575EAE9BAB616705FACF014217339195DA5302</string>
						<key>dateExpires</key>
						<string>5/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MS87GW626</string>
						<key>name</key>
						<string>Piotr Jandura</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B575EAE9BAB616705FACF014217339195DA5302</string>
						<key>dateExpires</key>
						<string>5/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MS87GW626</string>
						<key>name</key>
						<string>Piotr Jandura</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B575EAE9BAB616705FACF014217339195DA5302</string>
						<key>dateExpires</key>
						<string>5/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MS87GW626</string>
						<key>name</key>
						<string>Piotr Jandura</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B575EAE9BAB616705FACF014217339195DA5302</string>
						<key>dateExpires</key>
						<string>5/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MS87GW626</string>
						<key>name</key>
						<string>Piotr Jandura</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B575EAE9BAB616705FACF014217339195DA5302</string>
						<key>dateExpires</key>
						<string>5/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MS87GW626</string>
						<key>name</key>
						<string>Piotr Jandura</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B575EAE9BAB616705FACF014217339195DA5302</string>
						<key>dateExpires</key>
						<string>5/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MS87GW626</string>
						<key>name</key>
						<string>Piotr Jandura</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B575EAE9BAB616705FACF014217339195DA5302</string>
						<key>dateExpires</key>
						<string>5/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MS87GW626</string>
						<key>name</key>
						<string>Piotr Jandura</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B575EAE9BAB616705FACF014217339195DA5302</string>
						<key>dateExpires</key>
						<string>5/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MS87GW626</string>
						<key>name</key>
						<string>Piotr Jandura</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.32</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9MS87GW626.com.piotrjandura.WasteTrackr</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9MS87GW626</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>WasteTrackr.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>da06a5a8-3238-42f2-a0ac-7e93e93a496f</string>
				<key>dateExpires</key>
				<string>5/10/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.piotrjandura.WasteTrackr</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9MS87GW626</string>
				<key>name</key>
				<string>Piotr Jandura</string>
			</dict>
			<key>versionNumber</key>
			<string>1.6</string>
		</dict>
	</array>
</dict>
</plist>
