<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792947969989-7hsjuo91mqoiho7cmb9f3ejqtbhnlufh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792947969989-7hsjuo91mqoiho7cmb9f3ejqtbhnlufh</string>
	<key>API_KEY</key>
	<string>AIzaSyB-qsO3aaiU8WX9O8vkBNjFlIIxX-L0gg0</string>
	<key>GCM_SENDER_ID</key>
	<string>792947969989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piotrjandura.WasteTrackr</string>
	<key>PROJECT_ID</key>
	<string>eod-waste</string>
	<key>STORAGE_BUCKET</key>
	<string>eod-waste.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792947969989:ios:cf11ebfb206922da49c5ac</string>
	<key>DATABASE_URL</key>
	<string>https://eod-waste-default-rtdb.firebaseio.com</string>
</dict>
</plist>